aiohttp
aria2p==0.9.1
beautifulsoup4
bencode
bs4
cfscrape
cloudscraper
feedparser
hachoir
heroku3
html-telegraph-poster
hurry.filesize
imdbpy
js2py
lk21
lxml
mediainfo
messages
natsort
Pillow
psutil
psycopg2-binary
pyrogram
python-dotenv
pyprog
python-telegram-bot
pybase64
requests
speedtest-cli
telegraph
tgcrypto
urllib3
yt-dlp
